body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  font-family: "Lobster", cursive;
}
h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 32px;
  color: rgb(242, 242, 113);
  font-size: 100px;
  font-family: "Lobster", cursive;
}
h2 {
  text-align: center;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Lobster", cursive;
  font-size: 50px;
}
li {
  margin-right: 8%;
}
hr {
  border: 2px solid black;
  width: 90%;
  border-radius: 50%;
}
#devoured {
  background: rgba(255, 255, 255, 0.913);
  font-size: 20px;
  padding: 7% 0;
  margin-bottom: 5%;
}
.label {
  font-weight: bold;
}
.create-update-form {
  padding: 5px;
  margin-left: 50px;
}
.form-group {
  margin-bottom: 5px;
}
#center-form {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#bu {
  border: 3px rgb(247, 179, 52) solid;
  margin-left: 12px;
}
.change-devour {
  color: rgb(248, 182, 58);
}
.delete-burger {
  color: red;
}
.radioBtn {
  margin-left: 2%;
}
#addButton {
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 3%;
  background-color: rgb(247, 179, 52);
}
#burgerList {
  margin: 3% auto;
  justify-content: center;
}
#burgerList ul{
  list-style: none;
  margin-left: 18%;
  justify-content: center;
}
#notDev {
  float: left;
}
#dev {
  float: left;
}